<div>
  <header class="flex justify-center">
    <p class="p-4 font-semibold text-xl">Angular Signals (linkedIn Post)</p>
  </header>
  <main class="flex justify-center">
    <div class="p-5">
      <div
        class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow shadow-angular"
        (click)="clickHandler()"
      >
    
        <a href="#">
          <h5
            class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 "
          >
            Click to like 🩷 <span>{{likes()}}</span>
          </h5>
        </a>
        <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">
         This is a simple card component. It's powered by a <b>writable signal</b>
        </p>
       
      </div>
    </div>
  </main>
</div>
